@charset "UTF-8";
/*-------------------------
htmlセレクタに対して
-------------------------*/
body {
  width: 100%;
  height: 100%;
  color: #594a3c;
  background-color: #f2f2f2;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 22px;
}
@media screen and (max-width: 1080px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 426px) {
  body {
    font-size: 16px;
  }
}

img {
  width: 100%;
}

/*-------------------------
共通クラスに対して
-------------------------*/
.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.t-center {
  display: block;
  text-align: center;
}

.mainbox {
  width: 100vw;
}

.section {
  padding: 64px 0;
  border-bottom: 1px solid #e6e6e6;
}

.section_title {
  font-family: "Cinzel", serif;
  font-size: 32px;
  color: #594a3c;
  text-shadow: 1px 1px 1px #594a3c;
  text-align: center;
  padding: 24px 0;
}

.newsBox {
  display: block;
  width: 100vw;
}

.articleBox {
  width: 80%;
  margin: 32px auto;
}

.article {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #8c7e72;
}
.article:first-child {
  border-top: 1px solid #8c7e72;
}
.article .article_date {
  width: 30%;
  text-align: center;
  line-height: 32px;
}
.article .article_title {
  width: 70%;
  line-height: 32px;
}

.newsBox a {
  display: block;
  text-align: center;
  width: 33vw;
  max-width: 360px;
  min-width: 180px;
  padding: 2% 0;
  margin: 0 auto;
  background-color: rgba(136, 166, 73, 0.1);
}
.newsBox a:hover {
  background-color: rgba(136, 166, 73, 0.5);
}

.fa-chevron-right {
  padding-right: 1vw;
}