/*　conceptBoxクラス　*/
.charmBox{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.charm{
    display: block;
    width: 50%;
    padding: 2.5%;
}
.charm img{
    width: 100%;
}
.charm p{
    padding: 8px;
    max-width: 540px;
    margin: 0 auto;
}

/* roomBoxクラス　*/
/* moriningBoxクラス　*/
.photoBox{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.roomBox p, .morningBox p{
    width: 80%;
    max-width: 810px;
    margin: 8px auto;
    
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    width:94%;
    margin:0 auto;
}

.slider img {
    width:100%;
    height:auto;
    border: 1px solid rgba(184,217,115,0.1);
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    outline: none;
    height: 50px;
    width: 50px;
    text-align: center;
    padding:16px;
    z-index: 2;
    transform: translateY(-50px);
}
.slick-prev {
    left: -32px;
}

.slick-next {
    right: -32px;
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/* ここまでメイン部分　*/


@media screen and (max-width: 1080px) {

    .photoBox{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    .photo{
        width: 50%;
        padding: 2.5%;
    }
    .photo img{
        width: 100%;
    }

}

/* 幅768pxの画面時 */
@media screen and (max-width: 768px) {
    .charmBox{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .charm{
        width: 100%;
    }

    .photoBox{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    .photo{
        width: 100%;
        padding: 2.5%;
    }
    .photo img{
        width: 100%;
    }
}