@use "var";
.footer_top {
    width: 100%;
    display: flex;
    @include var.breakPoint("pc_small") {
        display: block;
        width: 100%;
    }
}
.footer_box {
    width: 50%;
    padding: 64px 0;
    border-bottom: 1px solid #e6e6e6;
}

.footer_box_title {
    font-family: "Cinzel", serif;
    font-size: 32px;
    color: #594a3c;
    text-shadow: 1px 1px 1px #594a3c;
    text-align: center;
    padding: 24px 0;
}

.snsBox {
    background: -moz-radial-gradient(
        #fff,
        rgba(184, 217, 115, 0.1) 40%,
        rgba(136, 166, 73, 0.1)
    );
    background: -webkit-radial-gradient(
        #fff,
        rgba(184, 217, 115, 0.1) 40%,
        rgba(136, 166, 73, 0.1)
    );
    background: radial-gradient(
        #fff,
        rgba(184, 217, 115, 0.1) 40%,
        rgba(136, 166, 73, 0.1)
    );
    @include var.breakPoint("pc_small") {
        width: 100%;
    }
}

.reserveBox {
    background: -moz-radial-gradient(
        #fff,
        rgba(255, 199, 120, 0.1) 40%,
        rgba(255, 90, 96, 0.1)
    );
    background: -webkit-radial-gradient(
        #fff,
        rgba(255, 199, 120, 0.1) 40%,
        rgba(255, 90, 96, 0.1)
    );
    background: radial-gradient(
        #fff,
        rgba(255, 199, 120, 0.1) 40%,
        rgba(255, 90, 96, 0.1)
    );
    @include var.breakPoint("pc_small") {
        width: 100%;
    }
}

.icon-link {
    display: flex;
    width: 33.3%;
    margin: 0 auto;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.snsLink-list {
    width: 50%;
    margin: 16px auto;
    display: flex;
}

.footer_box_text {
    padding: 8px;
    text-align: center;
}

.fa-brands {
    color: #594a3c;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-instagram:hover {
    color: #3f729b;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-airbnb:hover {
    color: rgba(255, 90, 96, 1);
}

.footer_bottom {
    padding: 64px 0;
    border-bottom: 1px solid #e6e6e6;
}
.footerLogo {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 80px;
    a {
        font-family: "Dancing Script", cursive;
        font-size: 36px;
        color: #f2f2f2;
        text-shadow: 3px 3px 1px #594a3c;
    }
}

.copyright p {
    text-align: center;
    padding: 32px 0;
    font-size: 8px;
}
